.about {
    padding: 4rem 1rem;
    width: 90%;
    margin: -4rem auto 0 auto;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);
    padding: 4rem 0;
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include phone {
            flex-direction: column;
        }
    }
    &__img {
        height: 9rem;
        width: 9rem;
        @include phone {
            margin-bottom: 1rem;
        }
    }
}